<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop.xsd">


	<bean id="customerService" class="cs544.aop1.CustomerService">
		<property name="customerDAO" ref="customerDAO" />
		<property name="emailSender" ref="emailSender" />
	</bean>
	<bean id="customerDAO"  class="cs544.aop1.CustomerDAO" />
	<bean id="emailSender"  class="cs544.aop1.EmailSender" />
</beans>